/* @keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

.zoomIn {
  animation: 200ms zoomIn ease-in;
} */

.square {
  width: 50px;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px solid black;
}
.board {
  width: 364px;
  height: 364px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.crown {
  height: 20px;
  width: 20px;
}

.piece, .nextPiece {
  width: 102px;
  height: 52px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  margin-bottom: 3px;
  background-color:black;
  border: 1px solid black;
}

#app {
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
  flex-wrap: wrap;
  justify-content: space-around;
}

.controls {
  /* border: red 1px solid; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.logo {
  margin: auto;
}

#startBtn {
  margin: auto;
}

.activePiecesContainer {
  /* border: blue 1px solid; */
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  margin-top: -5px;
}

.nextPiece {
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}

.nextPieceContainer {
  text-align: center;
  justify-content: center;
  font-size: .8rem;
  height: 110px;
  width: 100%;
}

.currContainer,
.nextContainer {
  /* border: lime 1px solid; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 300px;
}

.message {
  width: 100%;
  background-color: white;
  text-align: center;
  border: 1px solid black;
  margin-top: 10px;
}

.boardBox {
  text-align: center;
  padding-top: 90px;
}

.pieces {
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.kingContainer {
  width: 90px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.king {
  height: 30px;
  width: 30px;
}

#next4Btn, #skipBtn {
  margin-top: 10px;
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
  background-color: white;
}

h2 {
  font-size: 1.3rem;
  font-weight: 700;
}


/* * For login page */
#landing-page{
  display: flex;
  justify-content: center;
  padding: 50px;
}
#user-login{
  display: flex;
  flex-flow: column;
  align-items: center;
}
#page-logo{
  margin-bottom: 15px;
}
.login-page{
  display: flex;
  flex-flow: column;
}

#login-page input{
  margin-bottom: 5px;
}

.login-toggle{
  color: blue;
  cursor: pointer;
}